body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}


.section-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
.text-primary{
    font-size: 16px;
    color:#444343;
    padding: 20px 0px;
}

.header{
    background-image: url('../images/banner/banner1.png');
    height: 808px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 808px;
    text-align:end ;
}

.head-item-container{
    padding: 250px 230px 50px 1150px ;
}

.head-title{
    font-size: 65px;
    font-weight: 800;
}

.btn-head{
    background:#F15B22;
    color:#FFFFFF;
    border-radius: 5px;
    height:64px;
    width:160px;
    border:0;
    font-size: 20px;
    font-weight: 700; 
}


/* main section style  started */

main{
    max-width:1140px;
    margin: 0 auto;
}

/* .failures style  */

.failures-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.failures-img img{
    width: 559px;
    height: 723px;
}

.failures{
    height: 416px;
    width: 420px;

}
.bullets{
    font-size:18px;
    color:#444343 ;
}
.check-color{
    color: #16D887;
}
/* plan style ///////////////// */


.plan-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plan-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0px;
}

.plan-des{
    font-size: 16px;
    color:#737272;
    padding: 20px 0px;
    text-align: center;
    padding-top:2px;
}
.plans-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    text-align: center;
    margin:100px;
}

/* gradient section style */

.gradient-container{
    background: url('../images/watch.png');
    height: 300px;
}
.gradient-head{
    max-width: 500px;
    padding: 50px 230px 30px 50px;
}
.gradient-title{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.primary-btn{
    color:#F15B22;
    background:#FFFFFF;
    border-radius: 5px;
    height:64px;
    width:160px;
    border:0;
    font-size: 20px;
    font-weight: 700;

    
}

.footer{
    background-color: #151414;
    margin-top: 120px;
}

.footer-container{
    display: flex;
    justify-content:space-between; 
   
}

.future-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.future-des{
    color: #FFFFFF;
    font-size: 16px;
}

.subs{
    font-size:25px;
    font-weight:600;
    color:#FFFFFF;
}
.input{
    padding: 20px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 250px;
    color:#F3F3F3;
}

.future-container{
    padding: 130px 350px;
}

.half-width{
    width: 50%;
}
.subscribe{
     padding: 130px 290px 130px 0px;
}









